.wrapperContact {
    padding: 2rem;
}

.titreContact {
    text-align: center;
    font-family: Libre Baskerville;
    padding: auto;
    padding-bottom: 5rem;
    color: #212A3E;
}

form label  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


input {
    width: 15rem;
    margin: 0rem 0.7rem 0rem 0rem;
    padding: 0.3rem;
    border-radius: 15px;
    background-color: #9BA4B5 ;
    border: #9BA4B5;
    font-family:  Libre Baskerville;
}

textarea {
    resize: none;
    background-color: #9BA4B5 ;
    font-family:  Libre Baskerville;
    border-radius: 15px;
    &::placeholder {
        margin: 5px;
    }
}

.buttonContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonStyle {
    width: 5rem;
    height: 1.5rem;
    border: none;
    color: #F1F6F9;
    border-radius: 15px;
    font-family:  Libre Baskerville;
    background-color: #394867;
    
}

.buttonStyle:hover {
    background-color: #9BA4B5;
    cursor: pointer;
}

form p {
    color: red;
    text-align: center;
    font-size: 0.9rem;
    font-family: Cormorant Garamond;
    &::before {
        display: inline;
        content: '⚠';
      }
}
